/* -------Google Fonts------ */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root {
  --primaryColor: #4e47ff;
  --secondaryColor: #252432;
  --hoverColor: #9b177e;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 20px;
  margin: 0 auto;
}

.primary-btn {
  width: fit-content;
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 3px 3px 30px var(--primaryColor);
}

.primary-btn:hover {
  background-color: var(--hoverColor);
  scale: 1.05;
  box-shadow: 0px 0px 30px var(--hoverColor);
}

/* -----------------Header-------------- */

header {
  height: 600px;
  background-image: url(../Assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

header nav {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a.logo {
  font-size: 34px;
  font-weight: bold;
  color: var(--primaryColor);
}

header .hero {
  max-width: 900px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
}

.hero h6 {
  font-size: 65px;
  font-weight: bold;
  color: var(--secondaryColor);
} 















/* --------Action---------- */
.action {
  margin-top: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-left {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.action-left .title {
  color: var(--secondaryColor);
  font-size: 42px;
  font-weight: bold;
}

.action-left .desc {
  font-size: 24px;
  color: #252432;
}

.action img {
  border-radius: 48px;
}










/* ------Users----- */
.users {
  margin-top: 116px;
  background-color: #e5e7ff;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.users .title {
  color: var(--secondaryColor);
  font-weight: bold;
  font-size: 38px;
}

.users .users-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 158px;
}

.users-count .count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count h6 {
  color: var(--primaryColor);
  font-size: 80px;
  font-weight: bold;
}

.count span {
  color: rgba(0, 0, 0, 0.5);
}









/* -----Feedback----- */
.feedback {
  margin-top: 116px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.feedback .title {
  color: var(--secondaryColor);
  font-size: 42px;
  font-weight: bold;
}

.feedback .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  border: 1px solid #e5e7ff;
  border-radius: 20px;
  padding: 10px;
}

.card .star {
  display: flex;
  gap: 4px;
}

.star img {
  width: 20px;
  height: 20px;
}

.card-text h6 {
  color: var(--secondaryColor);
  font-size: 28px;
  font-weight: bold;
}

.card-text p {
  font-size: 18px;
  color: #1e1e1e;
  margin-top: 8px;
}

.card .author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-detail h6 {
  color: #757575;
  font-size: 20px;
  font-weight: bold;
}

.author-detail span {
  color: #757575;
  font-size: 16px;
}
















/* -----Focus---- */
.focus{
  margin-top: 116px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.focus h6{
  font-size: 50px;
  color: var(--secondaryColor);
  font-weight: bold;
}

.focus p{
  color: #00000080;
  font-size: 14px;
}

.focus img{
  border-radius: 48px;
}
















/* -----Message section-------- */
.message{
  margin-top: 116px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}

.message h6{
  color: var(--secondaryColor);
  font-size: 80px;
  font-weight: bold;
}

.message form{
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
}

.message form .input-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group label{
  font-size: 18px;
  color: var(--secondaryColor);
  font-weight: 600;
}

.input-group input,
.input-group textarea{
  font-size: 20px;
  padding: 20px 32px;
  border: 1px solid #75757557;
  border-radius: 10px;
}

.input-group textarea{
  resize: none;
}

.input-group button{
  border: none;
  outline: none;
  width: 100%;
}